<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<!--    The HTML5 specification encourages web developers to use the UTF-8 character set, which covers almost all of the characters and symbols in the world!-->
    <meta charset="UTF-8">
    <title>RUN ERROR</title>
<!--    for website logo-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='error.jpg') }}">
<!-- for connection of styles.css-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<!--    for the logo of social contact-->
    <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

</head>
<body >
<section class="page_404">
	<div class="container">
		<div class="row">
		<div class="col-sm-12 ">
		<div class="col-sm-10 col-sm-offset-1  text-center">
		<div class="four_zero_four_bg">
			<h1 class="text-center ">PLEASE FILL ALL THE REQUIREMENTS</h1>


		</div>

		<div class="contant_box_404">
		<h3 class="h2">Look like you're lost</h3>

		<p>the page you are looking for not avaible!</p>

		<a href="/" class="link_404">Go to Home</a>
	</div>
		</div>
		</div>
		</div>
	</div>
</section>

</body>


</html>

